{
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },

    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "defaultParams": true,
        "forOf": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "restParams": true,
        "spread": true,
        "templateStrings": true
    },

    "rules": {
        "no-console": 1,
        "no-warning-comments": [ 1, { "terms": ["TODO", "FIXME"], "location": "anywhere" } ],
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 2,
        "no-empty": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": 1,
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-negated-in-lhs": 2,
        "no-sparse-arrays": 2,
        "no-unreachable": 2,
        "valid-jsdoc": [ 1, { "requireReturn": false } ],
        "dot-notation": 2,
        "dot-location": [ 2, "property" ],
        "eqeqeq": 2,
        "no-else-return": 2,
        "no-eval": 2,
        "no-implied-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-floating-decimal": 2,
        "no-multi-spaces": 2,
        "no-with": 2,
        "no-octal": 2,
        "radix": 2,
        "wrap-iife": [ 2, "outside" ],
        "yoda": [ 2, "never" ],
        "handle-callback-err": 2,
        "new-cap": 1,
        "new-parens": 2,
        "no-unused-vars": 2,
        "no-redeclare": [ 2, { "builtinGlobals": true } ],
        "one-var": [ 2, "never" ],
        "no-mixed-spaces-and-tabs": 2,
        "linebreak-style": 2,
        "newline-after-var": [ 2, "always" ],
        "quote-props": [ 2, "as-needed" ],
        "comma-dangle": [ 2, "never" ],
        "no-trailing-spaces": 2,
        "padded-blocks": [ 1, "never" ],
        "space-before-blocks": [ 2, "always" ],
        "brace-style": 2,
        "curly": 2,
        "object-curly-spacing": [ 2, "always" ],
        "key-spacing": [ 2, { "beforeColon": false, "afterColon": true } ],
        "array-bracket-spacing": [ 2, "always" ],
        "space-before-function-paren": [ 2, { "anonymous": "always", "named": "never" } ],
        "no-spaced-func": 2,
        "keyword-spacing": 2,
        "space-unary-ops": [ 2, { "words": true, "nonwords": false } ],
        "comma-spacing": [ 2, { "before": false, "after": true } ],
        "comma-style": 2,
        "semi": [ 2, "always" ],
        "quotes": [ 2, "single" ],
        "camelcase": 1,
        "indent": [ 2, "tab", {"SwitchCase": 1} ],
        "lines-around-comment": 2,
        "spaced-comment": [ 2, "always" ],
        "strict": [ 2, "global" ],
        "max-len": [ 2, { "code": 100, "tabWidth": 4, "ignoreUrls": true } ],
        "no-multiple-empty-lines": [ 2, { "max": 1 } ]
    }
}
